<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Synchronization</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Synchronization</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-progress-bar [value]="progress | async"></ion-progress-bar>

      <ion-item lines="none">
        <ion-label color="primary">URI:</ion-label>
        <ion-input placeholder="URI" [(ngModel)]="uri"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-label color="primary">Profile:</ion-label>
        <ion-input placeholder="Profile" [(ngModel)]="profile"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-buttons slot="end">
          <ion-button fill="clear" (click)="upload()">
            <ion-icon name="cloud-download" size="large" color="primary"></ion-icon>
          </ion-button>
          <ion-button fill="clear" (click)="upload()" color="primary">
            <ion-icon name="cloud-upload" size="large"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card>
      <ion-card-header>
        <ion-card-title>Import</ion-card-title>
      </ion-card-header>
      <ion-card-title>
        <ion-textarea [(ngModel)]="importArea" rows="2" placeholder="Insert data here"></ion-textarea>
        <ion-item lines="none">
          <ion-label color="primary">Password:</ion-label>
          <ion-input placeholder="Password" [(ngModel)]="passwordImport" type="password"></ion-input>
          <ion-button (click)="importAsJson()" class="export-btn" fill="clear" slot="end">
            <ion-icon name="cloud-upload" size="large"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-card-title>
    </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Export</ion-card-title>
    </ion-card-header>
    <ion-card-title>
      <ion-item lines="none">
        <ion-label color="primary">Password:</ion-label>
        <ion-input placeholder="Password" [(ngModel)]="password" type="password"></ion-input>
        <ion-button (click)="exportAsJson()" class="export-btn" fill="clear" slot="end">
          <ion-icon name="cloud-download" size="large"></ion-icon>
        </ion-button>
      </ion-item>
      <ng-container *ngIf="exportArea && exportArea !== ''">
        <br>
        <ion-textarea [(ngModel)]="exportArea" rows="5" disabled="true"></ion-textarea>
      </ng-container>
    </ion-card-title>
  </ion-card>
</ion-content>