<ion-card *ngIf="note">
  <ion-card-header (click)="update(note)">
    <ion-card-title>{{note.data.title}}</ion-card-title>
    <ion-card-subtitle>{{note.data.timestamp.toLocaleDateString()}} 
        <br>
       <ion-text color="secondary">{{note.data.freeTags}}</ion-text>
    </ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-item *ngIf="!opened" lines="none" no-padding>
      <ion-button (click)="open()" fill="clear" size="small" slot="end">Show more</ion-button>
    </ion-item>
    <ion-text *ngIf="opened" (click)="open()">
      {{note.data.text ? note.data.text : "noText"}}
    </ion-text>
  </ion-card-content>
</ion-card>